/* universal */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;  font-weight: bold;
}

h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  font-size: 1.125rem;
  font-weight: lighter;
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: hsl(31, 11%, 18%);
}

img, video {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.container_left {
  width: 60%;
  color: hsl(31, 11%, 18%);
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.container_right {
  width: 40%;
  color: hsl(31, 11%, 18%);
  margin: 2rem 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile_only {
  display: none;
}

/* banner */
.banner {
  height: 4rem;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.banner .logo {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
  width: auto;
}

.logo p {
  font-size: 1.5rem;
}

.colmar {
  font-weight: bold;
  color: hsl(0, 0%, 0%);
}

.academy {
  font-weight: light;
  color: hsl(31, 11%, 57%);
}

nav {
  margin-right: 1.5rem;
}

nav li {
  font-size: 1.125rem;
  display: inline-block;
  margin-left: 1rem;
}

nav li:last-child {
  font-size: 1.25rem;
  font-weight: bold;
}

nav li a {
  color: hsl(0, 0%, 0%);
}

/* header */
header.container {
  align-items: center;
  background-color: hsl(31, 11%, 79%);
  position: relative;
  top: 4rem;
}

header .container_right {
  justify-content: center;
}

header .container_right h1 {
  padding-bottom: 2.5rem;
  display: inline-block;
  width: 80%;
}

header .container_right h4 {
  font-weight: normal;
  line-height: 1.5;
  padding-bottom: 2.5rem;
  display: inline-block;
  width: 80%;
}

a.start_button {
  display: inline-block;
  width: 80%;
  background-color: hsl(31, 11%, 50%);
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 3px 15px hsla(0, 0%, 0%, .3);
  font-size: 1.5rem;
  font-weight: normal;
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 0;
}

a.start_button:active {
  box-shadow: 0 0px 0px hsla(0, 0%, 0%, .5);
}
/* information */
.information {
  position: relative;
  top: 4rem;
}

.information .container_left h2 {
  padding: 2rem 0 1.5rem;
}

.information .container_left p {
  padding-bottom: 2rem;
}

.information .container_right {
  border-left: 1px dotted hsl(31, 11%, 79%);
}

.information_item {
  width: 100%;
  border-bottom: 2px solid hsl(31, 11%, 79%);
  display:flex;
  align-items: flex-start;
}

.information_img {
  width: 35%;
  padding: 1rem;
}

.information_content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  color: hsl(31, 11%, 20%);
}

.information .information_item:last-child {
  background-color: hsl(31, 11%, 79%);
}

.information_content h4 {
  margin-bottom: 0.5rem;
}

.information_content p {
  margin-bottom: 0.5rem;
}

.read_more {
  font-size: 1.125rem;
  color: hsl(207, 74%, 43%);
}
/* courses */
.courses {
  background-color: hsl(31, 11%, 79%);
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 4rem;
}

.courses h2 {
  text-align: center;
  padding: 2rem 0;
  color: hsl(31, 11%, 15%);
}

.row {
  margin: 0 3.5rem 2rem 3.5rem;
  display: flex;
}

.course_category {
  width: 32%;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 3px 20px hsla(0, 0%, 0%, .4);
  border-radius: 15px;
  margin: 0 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.course_category h4 {
  margin: 1rem;
}

.course_category p {
  margin: 0.5rem 1rem;
  color: hsl(31, 11%, 20%);
}
/* thesis */
.thesis {
  width: 100%;
  border-bottom: 2px solid hsl(31, 11%, 79%);
  position: relative;
  top: 4rem;
}

.thesis h2 {
  text-align: center;
  color: hsl(31, 11%, 30%);
  margin: 2rem 0 0 0;
}

.thesis_content .container_left h4 {
  margin: 1.5rem 0 0.5rem;
}

.thesis_content .container_left p {
  margin-bottom: 2rem;
}

.thesis_item {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.thesis .thesis_item:first-child {
  background-color: hsl(31, 11%, 79%);
}

img.thesis_img {
  width: 35%;
  margin: 1rem;
}

.thesis_item_content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.thesis_item_content h4 {
  margin-bottom: 0.5rem;
}

.thesis_item_content p {
  margin-bottom: 0.5rem;
}
/* footer */
footer {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  top: 4rem;
}

footer p {
  margin: 1rem 0 0 1.5rem;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
}

footer ul li {
  display: inline-block;
  margin: 1rem 1.5rem 0;
}

footer ul li a {
  color: hsl(0, 0%, 0%);
}
/* display for mobile devices */
@media only screen and (max-width: 768px) {
  /* universal */
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .container_left,  .container_right {
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .big_screen {
      display: none;
  }

    .mobile_only {
      display: inline;
    }
  /* banner */
  .banner {
    justify-content: space-around;
  }

  .banner .logo {
    margin-left: 0;
  }

  .banner img.mobile_only {
    height: 3rem;
    width: auto;
  }

  .logo p {
    display: none;
  }

  nav {
    display: none;
  }
  /* header */
  header .container_right h1 {
    padding: 2rem 0 2rem 1rem;
    width:  95%;
  }

  header .container_right h4 {
    padding: 0 0 1.5rem 1rem;
    width:  95%;
  }

  a.start_button {
    width: 95%;
    margin: 0 1rem 2rem 1rem;
  }
  /* information */
  .information .container_left {
    display: none;
  }

  .information .container_right {
    border-style: none;
  }

  .information_item {
    border-style: none;
    flex-direction: column;
    align-items: center;
  }

  .information_img {
    width: 95%;
    padding: 0;
    margin: 1rem;
  }

  .information_content {
    width: 95%;
    justify-content: flex-start;
    padding: 0;
    margin: 0 2rem 2rem 2rem;
  }

  .information .information_item:last-child {
    background-color: hsl(0, 0%, 100%);
  }

  .read_more {
    margin-bottom: 1rem;
  }
  /* courses */
  .courses {
    border-top: 0.5px dotted hsl(31, 11%, 79%);
    border-bottom: 0.5px dotted hsl(31, 11%, 79%);
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 2rem;
  }

  .courses h2 {
    padding-bottom: 0.75rem;
  }

  .row {
    width: 90%;
    margin: 0 1rem;
    flex-direction: column;
    align-items: center;
  }

  .course_category {
    width: 100%;
    margin: 0.25rem 1rem;
    padding-bottom: 0;
    box-shadow: none;
  }

  .course_category h4 {
    display: inline-block;
    margin: 0;
    padding: 1rem 0 1.5rem 1rem;
    background-color: hsl(31, 11%, 79%);
  }

  .course_category p, .course_category img {
    display: none;
  }
  /* thesis */
  .thesis {
      padding-bottom: 1.5rem;
  }

  .thesis h2 {
    margin: 2rem 0 1rem 0;
  }

  .thesis_content .container_left h4 {
    display: none;
  }

  .thesis_content .container_left p {
    display: none;
  }

  .thesis_content .container_right {
    display: none;
  }
  /* footer */
  footer {
    height: auto;
    display: block;
  }

  footer p {
    margin: 1rem;
  }

  footer ul li {
    display: none;
  }
}
