/* universal */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  font-size: 1.125rem;
  font-weight: lighter;
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

img, video {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.container_left {
  width: 60%;
  color: hsl(31, 11%, 30%);
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.container_right {
  width: 40%;
  color: hsl(31, 11%, 30%);
  margin: 2rem 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* banner */
.banner {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .logo {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
  width: auto;
}

.logo p {
  font-size: 1.5rem;
}

.colmar {
  font-weight: bold;
  color: hsl(0, 0%, 0%);
}

.academy {
  font-weight: light;
  color: hsl(31, 11%, 57%);
}

nav {
  margin-right: 1.5rem;
}

nav li {
  font-size: 1.125rem;
  display: inline-block;
  margin-left: 1rem;
}

/* header */
header.container {
  align-items: center;
  background-color: hsl(31, 11%, 79%);
}

header .container_right {
  justify-content: center;
}

header .container_right h1 {
  padding-bottom: 2.5rem;
  display: inline-block;
  width: 80%;
}

header .container_right h4 {
  font-weight: normal;
  line-height: 1.5;
  padding-bottom: 2.5rem;
  display: inline-block;
  width: 80%;
}

.start_button {
  width: 80%;
  background-color: hsl(31, 11%, 50%);
  border-radius: 5px;
  text-align: center;
}

.start_button a {
  font-size: 1.5rem;
  font-weight: normal;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
}

/* information */
.information .container_left h2 {
  padding: 2rem 0 1.5rem;
}

.information .container_left p {
  padding-bottom: 2rem;
}

.information .container_right {
  border-left: 1px dotted hsl(31, 11%, 79%);
}

.information_item {
  width: 100%;
  border-bottom: 2px solid hsl(31, 11%, 79%);
  display:flex;
  align-items: flex-start;
}

.information_img {
  width: 35%;
}

.information_img img {
  padding: 1rem;
}

.information_content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  color: hsl(31, 11%, 30%);
}

.guest {
  background-color: hsl(31, 11%, 79%);
}

.information_content h4 {
  margin-bottom: 0.5rem;
}

.information_content p {
  margin-bottom: 0.5rem;
}

.information a {
  font-size: 1.125rem;
  color: hsl(207, 74%, 43%);
}

/* courses */
.courses {
  background-color: hsl(31, 11%, 79%);
  align-items: center;
  flex-direction: column;
}

.courses h2 {
  text-align: center;
  padding: 2rem 0;
  color: hsl(31, 11%, 30%);
}

.row {
  margin: 0 3.5rem 2rem 3.5rem;
  display: flex;
}

.course_category {
  width: 32%;
  background-color: hsl(0 0 100%);
  margin: 0 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.course_category h4 {
  margin: 1rem;
  color: hsl(31, 11%, 30%);
}

.course_category p {
  margin: 0.5rem 1rem;
  color: hsl(31, 11%, 50%);
}

/* thesis */
.thesis {
  width: 100%;
  border-bottom: 2px solid hsl(31, 11%, 79%);
}

.thesis h2 {
  text-align: center;
  color: hsl(31, 11%, 30%);
  margin: 2rem 0;
}

.thesis_content .container_left h4 {
  margin: 1.5rem 0 0.5rem;
}

.thesis_content .container_left p {
  margin-bottom: 2rem;
}

.thesis_item {
  width: 100%;
  display: flex;
}

.fisma {
  background-color: hsl(31, 11%, 79%);
}

.thesis_img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.thesis_item_content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.thesis_item_content h4 {
  margin-bottom: 0.5rem;
}

.thesis_item_content p {
  margin-bottom: 0.5rem;
}

/* footer */
footer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer p {
  margin: 1rem 0 0 1.5rem;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
}

footer ul li {
  display: inline-block;
  margin: 1rem 1.5rem 0;
}

@media only screen and (max-width: 768px) {
  /* universal */
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .container {
    flex-direction: column;
  }

  .container_left,  .container_right {
    width: 100%;
    margin: 0;
  }
  /* banner */
  .banner {

  }
  /* header */
  header .container_right h1 {
    padding: 2rem 0 2rem 1rem;
    display: block;
  }

  header .container_right h4 {
    padding: 0 0 1.5rem 1rem;
    display: block;
  }

  .start_button {
    width: 90%;
    margin: 0 1rem 2rem 1rem;
  }

  .start_button a {
    padding: 0.5rem 0;
  }
  /* information */
  .information .container_left {
      display: none;
  }

  .information .container_right {
    border-style: none;
  }

  .information_item {
    border-style: none;
    flex-direction: column;
    align-items: center;
  }

  .information_img {
    width: 90%;
    padding: 0;
    margin: 1rem;
  }

  .information_content {
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    margin: 2rem 1rem;
  }

  .guest {
    background-color: hsl(31, 11%, 85%);
  }
  /* courses */
  .courses {
    border-top: 0.5px dotted hsl(31, 11%, 79%);
    border-bottom: 0.5px dotted hsl(31, 11%, 79%);
    background-color: hsl(0, 0%, 100%);
  }

  .row {
    margin: 0 1rem 2rem 0;
    flex-direction: column;
  }

  .course_category {
    width: 100%;
    margin: 0.5rem 1rem;
    padding-bottom: 1rem 0 1.5rem 1rem;
  }

  .course_category h4 {
    display: inline-block;
    margin: 0;
    padding: 1rem 0 1.5rem 1rem;
    background-color: hsl(31, 11%, 79%);
    border-radius: 5px;
  }

  .course_category p, .course_category img {
    display: none;
  }
  /* thesis */
  .thesis h2 {
    margin: 2rem 0 1rem 0;
  }

  .thesis_content .container_left h4, .thesis_content .container_left p {
    display: none;
  }

  .thesis_content .container_right {
    display: none;
  }

  video {
    margin-bottom: 1.5px;
  }
  /* footer */
  footer {
    height: auto;
    display: block;
  }

  footer p {
    margin: 1rem 0;
  }

  footer ul li {
    display: none;
  }
}
